.wishlist {
  &-product-combinations-text {
    display:flex;
    justify-content: space-between;
  }

  &-product-quantity {
    display:flex;
    justify-content: space-between;
  }
}

.wishlist {
  &-products-item {
    margin: 1.5625rem;
  }

  &-product {
    max-width: 15.625rem;
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-unavailable {
      opacity: 0.5;
    }

    &-availability {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0;
      color: #232323;
      font-size: 0.75rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.0625rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 1.0625rem;
      z-index: 5;
      min-width: 80%;
      justify-content: center;

      i {
        color: #ff4c4c;
        margin-right: 0.3125rem;
        font-size: 1.125rem;
      }

      &-responsive {
        display: none;
        position: inherit;
        transform: inherit;
        bottom: inherit;
        margin-top: 0.625rem;
        left: inherit;
      }
    }

    &-link {
      &:focus {
        text-decoration: none;
      }

      &:hover {
        img {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }

    &-title {
      margin-top: 0.625rem;
      margin-bottom: 0.315rem;
      color: #737373;
      font-size: 0.875rem;
      letter-spacing: 0;
      line-height: 1.875rem;
    }

    &-image {
      width: 15.625rem;
      height: 15.625rem;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.25s ease-out;
      }
    }

    &-price {
      color: #232323;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.375rem;

      &-promo {
        text-decoration: line-through;
        color: #737373;
        font-size: 0.875rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.1875rem;
        margin-right: 0.3125rem;
        vertical-align: middle;
        display: inline-block;
        margin-top: -0.1875rem;
      }
    }

    &-details {
      text-align: center;
    }

    &-quantity {
      color: #7a7a7a;
      font-size: 0.8125rem;
      letter-spacing: 0;
      line-height: 1.25rem;
      margin: 0;
    }

    &-combinations {
      a {
        display: block;
        color: #7a7a7a;

        &:hover {
          color: $blue;
        }
      }

      &-text {
        color: #7a7a7a;
        font-size: 0.8125rem;
        letter-spacing: 0;
        line-height: 1.25rem;
        margin: 0;
      }
    }

    &-addtocart {
      width: 100%;
      text-transform: inherit;
    }
  }

  &-button {
    &-add {
      position: absolute;
      top: 0.625rem;
      right: 0.625rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      width: 2.5rem;
      min-width: 2.5rem;
      padding-top: 0.1875rem;
      background-color: #ffffff;
      box-shadow: 0.125rem 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s ease-out;
      border: none;

      &:hover {
        opacity: 0.7;
      }

      &:focus {
        outline: 0;
      }

      &:active {
        transform: scale(1.2);
      }

      i {
        color: #7a7a7a;
        margin-top: -0.125rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wishlist {
    &-button-add {
      position: inherit;
      margin-left: 0.625rem;
    }

    &-products-item {
      width: 100%;
      margin: 0;
      margin-bottom: 1.875rem;

      &:not(:last-child) {
        margin-bottom: 1.875rem;
      }
    }

    &-product {
      margin: 0;
      width: 100%;
      max-width: 100%;

      &-link {
        &:hover {
          img {
            transform: inherit;
          }
        }
      }

      &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-right {
        flex: 1;
      }

      &-availability {
        display: none;

        &-responsive {
          display: block;
          min-width: 100%;
          justify-content: flex-start;
        }
      }

      &-image {
        width: 100px;
        height: 100px;
        margin-right: 1.25rem;
        position: inherit;

        img {
          position: inherit;
          left: inherit;
          top: inherit;
          transform: inherit;
        }
      }

      &-link {
        display: flex;
        align-items: flex-start;
      }

      &-title {
        margin-top: 0;
      }
    }
  }
}

